body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #f4ede3, #005f5f);
  color: #333;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 20px 40px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 50;
}

.logo img {
  max-width: 150px;
}

.user-options {
  display: flex;
  align-items: center;
  gap: 30px;
}

.user-icon-container {
  position: relative;
  margin-right: 20px;
}

.user-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.logout-option {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px;
  z-index: 100;
}

/* Estilos generales para la sección de usuario */
.user-options {
  display: flex;
  align-items: center;
  position: relative;
}

.user-icon-container {
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.user-icon-container:hover {
  transform: scale(1.1); /* Efecto de hover para aumentar el tamaño del ícono */
}

.user-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #4CAF50; /* Borde verde */
  transition: border 0.3s ease;
}

.user-icon-container:hover .user-icon {
  border-color: #30a7a7; /* Cambiar color del borde al hacer hover */
}

/*Boton usuario*/
.logout-option {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 160px;
  z-index: 100;
  transition: opacity 0.3s ease;
}

.logout-option a {
  display: block;
  padding: 8px;
  color: #333;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.logout-option a:hover {
  background-color: #f4f4f4;
  color: #30a7a7;
}

/* Mostrar las opciones de logout cuando el usuario hace hover sobre el icono */
.user-icon-container:hover .logout-option {
  display: block;
  opacity: 1; /* Mostrar el menú */
}

/* Mejoras para pantallas pequeñas */
@media (max-width: 768px) {
  .user-icon {
    width: 35px;
    height: 35px;
  }
  .logout-option {
    width: 140px; /* Ajustar tamaño en pantallas pequeñas */
  }
}

/* Estilos para botones */
#change-language-button, #login-button {
  background-color: #4e7a78;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

#change-language-button:hover, #login-button:hover {
  background-color: #3e6d69;
}

header .logo img {
  max-width: 150px;
}

header nav ul {
  list-style-type: none;
  display: flex;
  gap: 40px;
}

header nav ul li {
  font-size: 18px;
  font-weight: 600;
  color: #005a5a;
  cursor: pointer;
}

header nav ul li a {
  text-decoration: none;
  color: inherit;
}

header nav ul li a.active {
  color: #527575;
  border-bottom: 2px solid #527575;
}

header .user-options {
  display: flex;
  align-items: center;
  gap: 30px;
}

header .user-icon img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

header .language-dropdown select {
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #629898;
  background-color: #f8f8f8;
  color: #629898;
  cursor: pointer;
}

.language-dropdown {
  display: flex;
  flex-direction: row; /* Configuración por defecto en pantallas grandes */
  align-items: center;
  gap: 10px;
}

.language-dropdown select {
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #005f5f;
  background-color: #f8f8f8;
  color: #005f5f;
  cursor: pointer;
}

.language-dropdown select:focus {
  outline: 2px solid #005f5f;
}


h1, h2 {
  text-align: center;
  color: #005f5f;
}

/* Estilo del formulario */
form {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #005f5f;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-group label {
  color: #005f5f;
  flex: 1;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group select {
  flex: 2;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  width: 100%; /* Ajuste para que los input no se salgan del contenedor */
}

.form-group input[type="checkbox"] {
  width: auto;
  margin-left: 10px;
}

.form-group.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

/* Alinear checkbox a la derecha del texto */
.form-group.flex-row input[type="checkbox"] {
  order: 2; /* Mover el checkbox a la derecha */
  margin-left: 20px;
}

button[type="submit"] {
  width: 100%;
  padding: 15px;
  background-color: #005f5f;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #004040;
}

#respuesta {
  margin-top: 20px;
  color: #005f5f;
}

/* Ajustes para mejorar el foco en los campos */
input:focus, select:focus {
  outline: 2px solid #005f5f;
}

.error {
  border: 1px solid red; /* Cambia el borde a rojo para indicar error */
}

.highlight {
  background-color: #ffe6e6; /* Color de fondo iluminado para indicar error */
}

.error-message {
  color: red; /* Color del mensaje de error */
  font-size: 12px;
  margin-top: 5px; /* Espaciado entre el input y el mensaje */
  display: inline-block; /* Para que el mensaje no desajuste el layout */
  max-width: 100%; /* Asegura que no exceda el ancho del contenedor */
  overflow: hidden; /* Evita que el texto desborde */
  white-space: nowrap; /* Evita que el texto se rompa en varias líneas */
  text-overflow: ellipsis; /* Muestra "..." si el texto es muy largo */
}


/* Pie de página (Footer) */
footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: #ffffff;
  color: #629898;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

footer .contact-info, footer .policies {
  font-size: 14px;
  color: #005a5a;
}

footer p {
  margin: 0;
}



/* Estilos generales para pantallas pequeñas (celulares) */
@media (max-width: 480px) {
  body {
    padding: 10px; /* Agregar un poco de padding al cuerpo */
  }

  header {
    flex-direction: column; /* Cambiar a columna para mejor visualización */
    align-items: flex-start; /* Alinear elementos al inicio */
    padding: 10px; /* Reducir padding en el header */
  }

  .user-options {
    flex-direction: row; /* Mantener fila para opciones de usuario */
    justify-content: flex-end; /* Alinear a la derecha */
    width: 100%; /* Ancho completo para alinear elementos */
    margin-top: -40px; /* Mover hacia arriba el icono de usuario */
  }

  .user-icon img {
    width: 30px; /* Reducir tamaño del icono de usuario */
    height: 30px; /* Reducir tamaño del icono de usuario */
  }

  .language-dropdown {
    flex-direction: column; /* Cambiar a orientación vertical */
    padding: 15px; /* Agregar padding */
    margin: 5px; /* Agregar margen */
    align-items: flex-start; /* Alinear elementos al inicio */
    gap: 5px; /* Espaciado entre los elementos */
    width: 100%; /* Asegurar que ocupe todo el ancho */
  }

  .language-dropdown select {
    width: 100%; /* Asegurar que el select ocupe todo el ancho */
    font-size: 14px; /* Reducir el tamaño de la fuente para pantallas pequeñas */
    padding: 5px; /* Ajustar padding para el select */
  }

  .logo img {
    max-width: 120px; /* Reducir el tamaño del logo */
  }

  form {
    margin: 20px auto; /* Reducir margen en el formulario */
    padding: 15px; /* Reducir padding en el formulario */
  }

  .form-group {
    flex-direction: column; /* Cambiar a columna para el grupo de formularios */
    align-items: flex-start; /* Alinear elementos al inicio */
  }

  .form-group label {
    font-size: 14px; /* Reducir tamaño de la fuente de las etiquetas */
  }

  .form-group input[type="text"],
  .form-group input[type="number"],
  .form-group select {
    flex: 2;
    padding: 8px; /* Reducir padding de los inputs */
    font-size: 14px; /* Reducir tamaño de la fuente de los inputs */
  }

  .form-group input[type="checkbox"] {
    margin-left: 0; /* Alinear el checkbox a la izquierda */
    margin-top: -5px; /* Ajustar el margen superior */
  }

  .form-group.flex-row {
    display: flex;
    justify-content: flex-start; /* Alinear elementos al inicio */
    align-items: center;
    gap: 10px;
  }

  button[type="submit"] {
    font-size: 16px; /* Reducir el tamaño de la fuente del botón */
    padding: 10px; /* Reducir padding del botón */
  }

  h1, h2 {
    font-size: 20px; /* Reducir tamaño de los títulos */
  }

  /* Ajustes adicionales para mejor experiencia en pantallas pequeñas */
  #respuesta {
    font-size: 14px; /* Reducir tamaño de fuente en la respuesta */
    margin-top: 10px; /* Reducir margen superior */
  }

  .form-group input[type="text"],
  .form-group input[type="number"],
  .form-group select {
    max-width: 90%; /* Asegurar que los inputs no se salgan del margen */
  }

  /* Añadir un margen inferior a los grupos de formulario para separación */
  .form-group {
    margin-bottom: 15px; /* Aumentar margen inferior */
  }
  .footer{
    display: flex;
    flex-direction: column;
   }
}

/* Tarjetas*/
/* Agregar margen superior e inferior a la .container */
.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  padding: 20px;
  margin-top: 30px; /* Evitar que las tarjetas toquen el header */
  margin-bottom: 30px; /* Evitar que las tarjetas toquen el footer */
}

/* Asegurar que el contenido de la tarjeta no esté tan pegado al borde */
.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s;
  max-width: 100%;
  padding: 10px; /* Espaciado adicional alrededor de la tarjeta */
}

.card-content {
  padding: 1.5rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-left: 1rem; /* Añadir espaciado para que el texto no esté tan pegado a los bordes */
  padding-right: 1rem; /* Añadir espaciado para que el texto no esté tan pegado a los bordes */
}

/* Mantener el estilo para las imágenes y el texto dentro de la tarjeta */
.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card h2 {
  margin: 0;
  color: #333;
  font-size: 1.25rem;
  font-weight: 600;
}

.card p {
  margin: 0.5rem 0;
  color: #666;
  font-size: 0.95rem;
}

.card .precio {
  color: #008080;
  font-weight: bold;
  font-size: 1.1rem;
}

.card button {
  background-color: #D9534F;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  margin-top: 1rem;
  transition: background-color 0.2s;
}

.card button:hover {
  background-color: #006666;
}

/* Ajustar el contacto al pie de la tarjeta */
.contact {
  margin-top: auto;
  padding: 1rem;
  text-align: center;
}

/* Estilos para pantallas de tamaño tablet (entre 481px y 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  header {
    padding: 15px; /* Ajustar padding en el header */
  }
  
  .language-dropdown {
    padding: 15px; /* Agregar padding */
    margin: 5px; /* Agregar margen */
    display: flex; /* Asegurar que sea un flex container */
    flex-direction: column; /* Orientación vertical */
    align-items: flex-start; /* Alinear elementos al inicio */
    gap: 5px; /* Espaciado entre los elementos */
    width: 100%; /* Asegurar que ocupe todo el ancho disponible */
  }

  .language-dropdown select {
    width: 100%; /* Asegurar que el select ocupe todo el ancho */
    font-size: 16px; /* Mantener el tamaño de fuente */
    padding: 5px 10px; /* Padding en el select */
    border-radius: 5px; /* Bordes redondeados */
    border: 1px solid #005f5f; /* Bordes de color */
    background-color: #f8f8f8; /* Fondo del select */
    color: #005f5f; /* Color del texto */
    cursor: pointer; /* Cursor de puntero al pasar sobre el select */
  }

  .language-dropdown select:focus {
    outline: 2px solid #005f5f; /* Resaltar el select al estar enfocado */
  }

  .user-options {
    gap: 20px; /* Espacio intermedio entre opciones de usuario */
  }

  .logo img {
    max-width: 140px; /* Tamaño del logo para tablet */
  }

  form {
    margin: 30px auto; /* Margen en el formulario */
    padding: 20px; /* Padding en el formulario */
  }

  .form-group {
    flex-direction: row; /* Mantener fila para el grupo de formularios */
  }
  .form-group {
    flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
  }
  .error-message {
    width: 100%; /* Asegura que el mensaje ocupe todo el ancho del contenedor */
  }

  button[type="submit"] {
    font-size: 18px; /* Tamaño de la fuente del botón */
    padding: 12px; /* Ajustar padding del botón */
  }

  h1, h2 {
    font-size: 28px; /* Tamaño de títulos para tablet */
  }

  .footer{
    display: flex;
    flex-direction: column;
   }
}

/* Estilos para pantallas grandes (16 pulgadas o más) */
@media (min-width: 769px) {
  header {
    padding: 30px; /* Aumentar padding en el header */
  }

  .user-options {
    gap: 40px; /* Espacio intermedio entre opciones de usuario */
  }

  .logo img {
    max-width: 150px; /* Tamaño del logo para pantallas grandes */
  }

  form {
    margin: 50px auto; /* Margen en el formulario */
    padding: 30px; /* Padding en el formulario */
  }

  .form-group {
    flex-direction: row; /* Mantener fila para el grupo de formularios */
  }

  button[type="submit"] {
    font-size: 20px; /* Tamaño de la fuente del botón */
    padding: 15px; /* Ajustar padding del botón */
  }

  h1, h2 {
    font-size: 32px; /* Tamaño de títulos para pantallas grandes */
  }

  .footer{
    display: flex;
    flex-direction: column;
   }
}

/* boton accesibilidad */
/* Modo normal: Cambia el color del texto "Change language" a negro */
.change-language-label {
  color: #000 !important;  /* Texto negro en modo normal */
}

/* Modo de alto contraste */
body.high-contrast {
  background: linear-gradient(135deg, #ffffff, #2d6400) !important; /* Fondo en modo alto contraste: degradado blanco a amarillo */
  color: #fff;  /* Texto en blanco */
  min-height: 100vh;  /* Asegura que el fondo cubra toda la pantalla */
}

body.high-contrast .change-language-label {
  color: #ffff00 !important; /* Texto en amarillo en modo alto contraste */
}

body.high-contrast a {
  color: #ffff00;  /* Enlaces en amarillo */
}

body.high-contrast .logo img {
  filter: invert(1);  /* Invertir colores de la imagen */
}

body.high-contrast .search-bar input[type="search"] {
  border: 2px solid #ffff00;  /* Borde amarillo */
  background-color: #333;  /* Fondo gris oscuro */
  color: #fff;  /* Texto blanco */
}

body.high-contrast .search-bar button {
  background-color: #ffff00;  /* Botón de búsqueda amarillo */
  color: #000;  /* Texto en negro */
}

body.high-contrast header {
  background-color: #333; /* Fondo oscuro en el encabezado */
  color: #fff; /* Texto en blanco */
}

body.high-contrast .featured-item {
  background-color: #333;  /* Fondo de los elementos destacados en gris oscuro */
  color: #ffff00;  /* Texto en amarillo */
  border: 2px solid #ffff00;  /* Borde amarillo */
}

body.high-contrast .services-item {
  background-color: #333; /* Fondo negro para las tarjetas de servicios */
  color: #ffff00; /* Texto en amarillo */
  border: 2px solid #ffff00; /* Borde amarillo */
}

body.high-contrast h1, 
body.high-contrast h2, 
body.high-contrast h3, 
body.high-contrast h4, 
body.high-contrast h5, 
body.high-contrast h6 {
  color: #333; /* Títulos en amarillo */
}

body.high-contrast .footer {
  background-color: #333;  /* Fondo del pie de página en gris oscuro */
  color: #ffff00;  /* Texto en amarillo */
}

body.high-contrast p, 
body.high-contrast .featured-item p, 
body.high-contrast .services-item p, 
body.high-contrast .services-item h2 {
  color: #333;  /* Texto general en amarillo */
}

/* Asegura que el texto de los botones también sea amarillo */
body.high-contrast button {
  color: #ffff00; /* Texto en amarillo para los botones */
}

body.high-contrast label {
  color: #ffff00;  /* Texto de las etiquetas en amarillo */
}
body.high-contrast .filter-bar{
  background-color: #333;
  color: #ffff00;

}

body.high-contrast .filter-bar select{
  border: 2px solid #ffff00 ;
  color: #0c0c03;
}

body.high-contrast .filter-bar input{
  border: 2px solid #ffff00 ;
  color: #0c0c03;
}

body.high-contrast form{
  background-color: #1a1a1a;
}

body.high-contrast .featured-section{
  background: linear-gradient(135deg, #ffffff, #2d6400);
}


/* Estilo del botón de accesibilidad */
.accessibility-button {
  position: fixed;
  bottom: 25px;
  right: 20px;
  background-color: #004f4f;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 24px;
  transition: background-color 0.3s ease;
  z-index: 9999;
}

body.high-contrast .accessibility-button {
  background-color: #ffff00;  /* Botón de accesibilidad en amarillo */
  color: #000;  /* Texto en negro */
}


/* Ajustes para el panel de accesibilidad */
.accessibility-panel {
  width: 300px;
  background-color: #0a0a0a;
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  position: fixed;
  top: 50px;
  right: 90px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

body.high-contrast .accessibility-panel {
  background-color: #333;
}

.accessibility-panel h2 {
  margin-top: 0;
}

.accessibility-panel .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #1a1a1a;
  border: none;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
}

.accessibility-option {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.accessibility-option input[type="checkbox"] {
  margin-right: 10px;
}

.accessibility-option label {
  font-size: 14px;
}

.content-size {
  margin: 20px 0;
  text-align: center;
}

.content-size span {
  display: block;
  margin-bottom: 10px;
}

.content-size button {
  background-color: #1a1a1a;
  border: none;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0 5px;
}

#language-select{
  width: 30%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.reset-btn, .hide-btn {
  width: 100%;
  background-color: #1a1a1a;
  border: none;
  color: #4a90e2;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.declaration-link {
  text-align: center;
}

.declaration-link a {
  color: #4a90e2;
  text-decoration: none;
  font-size: 12px;
}