body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #f4ede3, #005f5f);
  color: #333;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 20px 40px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 50;
}

header nav ul {
  list-style-type: none;
  display: flex;
  gap: 40px;
}

header nav ul li {
  font-size: 18px;
  font-weight: 600;
  color: #005a5a;
  cursor: pointer;
}

header nav ul li a {
  text-decoration: none;
  color: inherit;
}

header nav ul li a.active {
  color: #527575;
  border-bottom: 2px solid #527575;
}

.logo img {
  max-width: 150px;
}

.user-options {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.user-icon img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.language-dropdown {
  display: flex;
  flex-direction: row; /* Configuración por defecto en pantallas grandes */
  align-items: center;
  gap: 10px;
}

.language-dropdown select {
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #005f5f;
  background-color: #f8f8f8;
  color: #005f5f;
  cursor: pointer;
}

.language-dropdown select:focus {
  outline: 2px solid #005f5f;
}


h1, h2 {
  text-align: center;
  color: #005f5f;
}

/* Estilo del formulario */
form {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #005f5f;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-group label {
  color: #005f5f;
  flex: 1;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group select {
  flex: 2;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  width: 100%; /* Ajuste para que los input no se salgan del contenedor */
}

.form-group input[type="checkbox"] {
  width: auto;
  margin-left: 10px;
}

.form-group.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

/* Alinear checkbox a la derecha del texto */
.form-group.flex-row input[type="checkbox"] {
  order: 2; /* Mover el checkbox a la derecha */
  margin-left: 20px;
}

button[type="submit"] {
  width: 100%;
  padding: 15px;
  background-color: #005f5f;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #004040;
}

#respuesta {
  margin-top: 20px;
  color: #005f5f;
}

/* Ajustes para mejorar el foco en los campos */
input:focus, select:focus {
  outline: 2px solid #005f5f;
}

.error {
  border: 1px solid red; /* Cambia el borde a rojo para indicar error */
}

.highlight {
  background-color: #ffe6e6; /* Color de fondo iluminado para indicar error */
}

.error-message {
  color: red; /* Color del mensaje de error */
  font-size: 12px;
  margin-top: 5px; /* Espaciado entre el input y el mensaje */
  display: inline-block; /* Para que el mensaje no desajuste el layout */
  max-width: 100%; /* Asegura que no exceda el ancho del contenedor */
  overflow: hidden; /* Evita que el texto desborde */
  white-space: nowrap; /* Evita que el texto se rompa en varias líneas */
  text-overflow: ellipsis; /* Muestra "..." si el texto es muy largo */
}


/* Pie de página (Footer) */
footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: #ffffff;
  color: #629898;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

footer .contact-info, footer .policies {
  font-size: 14px;
  color: #005a5a;
}

footer p {
  margin: 0;
}



/* Estilos generales para pantallas pequeñas (celulares) */
@media (max-width: 480px) {
  body {
    padding: 10px; /* Agregar un poco de padding al cuerpo */
  }

  header {
    flex-direction: column; /* Cambiar a columna para mejor visualización */
    align-items: flex-start; /* Alinear elementos al inicio */
    padding: 10px; /* Reducir padding en el header */
  }

  .user-options {
    flex-direction: row; /* Mantener fila para opciones de usuario */
    justify-content: flex-end; /* Alinear a la derecha */
    width: 100%; /* Ancho completo para alinear elementos */
    margin-top: -40px; /* Mover hacia arriba el icono de usuario */
  }

  .user-icon img {
    width: 30px; /* Reducir tamaño del icono de usuario */
    height: 30px; /* Reducir tamaño del icono de usuario */
  }

  .language-dropdown {
    flex-direction: column; /* Cambiar a orientación vertical */
    padding: 15px; /* Agregar padding */
    margin: 5px; /* Agregar margen */
    align-items: flex-start; /* Alinear elementos al inicio */
    gap: 5px; /* Espaciado entre los elementos */
    width: 100%; /* Asegurar que ocupe todo el ancho */
  }

  .language-dropdown select {
    width: 100%; /* Asegurar que el select ocupe todo el ancho */
    font-size: 14px; /* Reducir el tamaño de la fuente para pantallas pequeñas */
    padding: 5px; /* Ajustar padding para el select */
  }

  .logo img {
    max-width: 120px; /* Reducir el tamaño del logo */
  }

  form {
    margin: 20px auto; /* Reducir margen en el formulario */
    padding: 15px; /* Reducir padding en el formulario */
  }

  .form-group {
    flex-direction: column; /* Cambiar a columna para el grupo de formularios */
    align-items: flex-start; /* Alinear elementos al inicio */
  }

  .form-group label {
    font-size: 14px; /* Reducir tamaño de la fuente de las etiquetas */
  }

  .form-group input[type="text"],
  .form-group input[type="number"],
  .form-group select {
    flex: 2;
    padding: 8px; /* Reducir padding de los inputs */
    font-size: 14px; /* Reducir tamaño de la fuente de los inputs */
  }

  .form-group input[type="checkbox"] {
    margin-left: 0; /* Alinear el checkbox a la izquierda */
    margin-top: -5px; /* Ajustar el margen superior */
  }

  .form-group.flex-row {
    display: flex;
    justify-content: flex-start; /* Alinear elementos al inicio */
    align-items: center;
    gap: 10px;
  }

  button[type="submit"] {
    font-size: 16px; /* Reducir el tamaño de la fuente del botón */
    padding: 10px; /* Reducir padding del botón */
  }

  h1, h2 {
    font-size: 20px; /* Reducir tamaño de los títulos */
  }

  /* Ajustes adicionales para mejor experiencia en pantallas pequeñas */
  #respuesta {
    font-size: 14px; /* Reducir tamaño de fuente en la respuesta */
    margin-top: 10px; /* Reducir margen superior */
  }

  .form-group input[type="text"],
  .form-group input[type="number"],
  .form-group select {
    max-width: 90%; /* Asegurar que los inputs no se salgan del margen */
  }

  /* Añadir un margen inferior a los grupos de formulario para separación */
  .form-group {
    margin-bottom: 15px; /* Aumentar margen inferior */
  }
  .footer{
    display: flex;
    flex-direction: column;
   }
}



/* Estilos para pantallas de tamaño tablet (entre 481px y 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  header {
    padding: 15px; /* Ajustar padding en el header */
  }
  
  .language-dropdown {
    padding: 15px; /* Agregar padding */
    margin: 5px; /* Agregar margen */
    display: flex; /* Asegurar que sea un flex container */
    flex-direction: column; /* Orientación vertical */
    align-items: flex-start; /* Alinear elementos al inicio */
    gap: 5px; /* Espaciado entre los elementos */
    width: 100%; /* Asegurar que ocupe todo el ancho disponible */
  }

  .language-dropdown select {
    width: 100%; /* Asegurar que el select ocupe todo el ancho */
    font-size: 16px; /* Mantener el tamaño de fuente */
    padding: 5px 10px; /* Padding en el select */
    border-radius: 5px; /* Bordes redondeados */
    border: 1px solid #005f5f; /* Bordes de color */
    background-color: #f8f8f8; /* Fondo del select */
    color: #005f5f; /* Color del texto */
    cursor: pointer; /* Cursor de puntero al pasar sobre el select */
  }

  .language-dropdown select:focus {
    outline: 2px solid #005f5f; /* Resaltar el select al estar enfocado */
  }

  .user-options {
    gap: 20px; /* Espacio intermedio entre opciones de usuario */
  }

  .logo img {
    max-width: 140px; /* Tamaño del logo para tablet */
  }

  form {
    margin: 30px auto; /* Margen en el formulario */
    padding: 20px; /* Padding en el formulario */
  }

  .form-group {
    flex-direction: row; /* Mantener fila para el grupo de formularios */
  }
  .form-group {
    flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
  }
  .error-message {
    width: 100%; /* Asegura que el mensaje ocupe todo el ancho del contenedor */
  }

  button[type="submit"] {
    font-size: 18px; /* Tamaño de la fuente del botón */
    padding: 12px; /* Ajustar padding del botón */
  }

  h1, h2 {
    font-size: 28px; /* Tamaño de títulos para tablet */
  }

  .footer{
    display: flex;
    flex-direction: column;
   }
}

/* Estilos para pantallas grandes (16 pulgadas o más) */
@media (min-width: 769px) {
  header {
    padding: 30px; /* Aumentar padding en el header */
  }

  .user-options {
    gap: 40px; /* Espacio intermedio entre opciones de usuario */
  }

  .logo img {
    max-width: 150px; /* Tamaño del logo para pantallas grandes */
  }

  form {
    margin: 50px auto; /* Margen en el formulario */
    padding: 30px; /* Padding en el formulario */
  }

  .form-group {
    flex-direction: row; /* Mantener fila para el grupo de formularios */
  }

  button[type="submit"] {
    font-size: 20px; /* Tamaño de la fuente del botón */
    padding: 15px; /* Ajustar padding del botón */
  }

  h1, h2 {
    font-size: 32px; /* Tamaño de títulos para pantallas grandes */
  }

  .footer{
    display: flex;
    flex-direction: column;
   }
}
