body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="email"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input.error,
select.error {
    border: 1px solid red;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: -5px;
    margin-bottom: 10px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

button:hover {
    background-color: #218838;
}

#mensaje {
    margin-top: 15px;
    text-align: center;
    color: red;
}

#mensajeExito {
    margin-top: 15px;
    text-align: center;
    color: green; /* Color verde para mensajes de éxito */
    display: none; /* Ocultar inicialmente */
}

#descripcionAlojamiento {
    margin-top: 20px;
    padding: 15px;
    background-color: #e9ecef;
    border-radius: 5px;
    display: none; /* Ocultar inicialmente */
}