.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}
  
.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}
  
.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}
  
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
  
.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
  
.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}
  
.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}
  
.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}
  
.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}
  
.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}
  
.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}
  
.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}
  
.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}
  
.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}
  
.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}
  
.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}
  
.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}
  
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000; /* Fondo de la página en negro */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #000000; /* Fondo del header en negro */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.logo img {
    max-width: 150px;
}

nav ul.opciones {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 50px;
}

nav ul.opciones li {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: #ABAB00; /* Color del texto en amarillo */
}

nav ul.opciones li img {
    margin-right: 8px;
}

.user-options {
    display: flex;
    align-items: center;
    gap: 30px;
}

.user-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.language-dropdown {
    position: relative;
}

.language-dropdown select {
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ABAB00; /* Borde del dropdown en amarillo */
    background-color: #f8f8f8;
    color: #ABAB00;
    cursor: pointer;
}

/* Barra de búsqueda */
.search-bar {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.search-bar input[type="search"] {
    padding: 15px;
    font-size: 18px;
    width: 60%;
    border: 2px solid #ABAB00; /* Borde de la barra de búsqueda en amarillo */
    border-radius: 25px 0 0 25px;
    outline: none;
    background-color: #FFFFFF; /* Fondo blanco */
}

.search-bar button {
    background-color: #ABAB00; /* Botón de búsqueda en amarillo */
    border: none;
    padding: 15px;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar button img {
    max-width: 20px;
    height: auto;
}

/* Sección de destacados */

h2 {
    text-align: center;
    color: #FFFFFF; /* Color de los títulos en blanco */
}


.featured-section {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 40px;
    background-color: #ABAB00; /* Fondo de la sección de destacados en amarillo */
    
}

.featured-item {
    text-align: center;
    width: 250px;
    background-color: #000000; /* Fondo de los items destacados en negro */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.featured-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}


.featured-item p {
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF; /* Color del texto de los items destacados en blanco */
}


/* Footer */
.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: #000000; /* Fondo negro */
    color: #FFFFFF; /* Texto en color blanco */
}

.footer .contact-info, .footer .policies {
    font-size: 14px;
    color: #FFFFFF; /* Color del texto del footer en blanco */
}

.footer p {
    color: #FFFFFF; /* Color del texto de los párrafos del footer en blanco */
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    text-decoration: underline;
}
