/* Global Styles */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #f4ede3, #30a7a7);
  color: #333; /* Mejor contraste */
}

/* Header Styles */
header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 20px 40px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 50;
}

.logo img {
  max-width: 150px;
}

/* Estilos para el botón de cambio de idioma */
#change-language-button {
  background-color: #629898; /* Color de fondo del botón */
  color: #ffffff; /* Color del texto */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  padding: 5px 10px; /* Espaciado interno */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  font-size: 14px; /* Tamaño de la fuente */
  transition: background-color 0.3s; /* Transición suave para el color de fondo */
}

#change-language-button:hover {
  background-color: #4e7a78; /* Color de fondo al pasar el mouse */
}

/* Estilos para el botón de iniciar sesión */
#login-button {
  background-color: #4e7a78; /* Color de fondo del botón */
  color: #ffffff; /* Color del texto */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  padding: 5px 10px; /* Espaciado interno */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  font-size: 14px; /* Tamaño de la fuente */
  transition: background-color 0.3s; /* Transición suave para el color de fondo */
  margin-left: 10px; /* Margen a la izquierda para separarlo del otro botón */
}

#login-button:hover {
  background-color: #4e7a78; /* Color de fondo al pasar el mouse */
}


/* Search Bar */
.search-bar {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.search-bar input[type="search"] {
  padding: 15px;
  font-size: 18px;
  width: 60%;
  border: 2px solid #005f5f;
  border-radius: 25px 0 0 25px;
  outline: none;
}

.search-bar input[type="search"]:focus {
  border-color: #333;
  outline: 2px solid #333;
}

.search-bar button {
  background-color: #005f5f;
  border: none;
  padding: 15px;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar button img {
  max-width: 20px;
  height: auto;
}

/* Featured Section */
h1, h2 {
  text-align: center;
  color: #005f5f;
}

.featured-section {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 40px;
}

.featured-item {
  text-align: center;
  width: 250px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.featured-item img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}

.featured-item p {
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

.featured-item:focus {
  outline: 2px solid #333;
}

/* Services Section */
.services {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 40px;
}

.services-item {
  text-align: center;
  width: 250px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.services-item p {
  font-size: 16px;
  color: #333;
}

.services-item img {
  max-width: 40%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}


.accessibility-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #004f4f; /* Cambiado a un tono más oscuro para mayor contraste */
  color: white; /* Texto blanco */
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 24px; /* Aumentado para asegurarnos de que sea considerado texto grande */
}

.accessibility-button:focus {
  outline: 3px solid #ffffff; /* Borde blanco para un enfoque visible */
}


.accessibility-options {
  display: none;
  position: fixed;
  bottom: 80px;
  right: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-around;
  padding: 20px 40px;
  background-color: #ffffff;
  color: #005f5f;
}

.footer p, .footer a {
  color: #005f5f;
  text-decoration: none;
}

.footer a:hover, .footer a:focus {
  text-decoration: underline;
  outline: 2px solid #005f5f;
}